* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  --black:rgb(0, 18, 17);
  --light-blue:rgb(205, 255, 255);
  --purple:rgb(127, 127, 255);
  --red:rgb(255, 3, 57);
  --white:rgb(240, 255, 255);
}

@font-face {
  font-family: Damion;
  src: url(./fonts/Damion-Regular.woff2);
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-VariableFont_wdth\,wght.woff2);
}

@font-face {
  font-family: ZenDots;
  src: url(./fonts/ZenDots-Regular.woff2);
}

body {
  background-color: var(--black);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.logo {
  margin: 3.2rem 0;
  position: absolute;
  padding:0.6rem 5.6rem 0 7.2rem;
}

.face {
  width: 4rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.4rem solid rgba(251, 3, 57, 0.85);
}

.ear {
  margin:-1.1rem;
  width: 2.4rem;
  height: 1.6rem;
  background-color: rgba(251, 3, 57, 0.85);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  rotate: -36deg;
}

.ear-right {
  margin: -1.6rem 1.9rem;
  rotate: 36deg;
}

.char {
  margin: -1.8rem -7rem;
  font-family: Damion, Arial, Helvetica, sans-serif;
  font-size: 3.4rem;
  color: rgba(251, 3, 57, 0.85);
}

.char-second {
  margin: -4.7rem 3.7rem;
}

main {
  display: flex;
  justify-content: center;
  gap: 2.6rem;
}

.img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}

.img-container img {
  height: 100%;
}

.img-container > span {
  margin-top: -4rem;
}

a {
  color: var(--red);
  font-size: 1.4rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  margin-top: 16vh;
  width: 57.2rem;
  height: 90%;
}

h1 {
  margin-bottom: 1.2rem;
  padding: 0 0.8rem;
  text-align: center;
  font-size: 3.4rem;
  font-family: ZenDots, Arial, sans-serif;
  line-height: 1.4;
  color: var(--light-blue);
  
}

.form {
  padding: 1.2rem;
  font-family: ZenDots, Arial, sans-serif;
}

.form-cover {
  padding: 1.2rem 0;
  border-radius: 1rem;
  background-image: linear-gradient(rgba(64, 60, 149, 0), rgba(64, 60, 149, 0.6));
  box-shadow: 0 10px 10px rgba(205, 205, 255, 0.5);
}

.form-cover div {
  display: flex;
  justify-content: center;
}

.form p {
  display: flex;
  flex-direction: column;
  margin: 1.4rem 1.8rem;
}

.form label {
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
  color: var(--white);
}

.form label:hover,form input:hover {
  cursor: pointer;
}

.form input {
  width: 22rem;
  padding: 0.6rem 0.8rem;
  border: 0.1rem solid var(--black);
  border-radius: 0.4rem;
  font-size: 1.4rem;
  background-color: var(--white);
}

.form input:invalid {
  border: 0.1rem solid var(--red);
  outline: 0.1rem solid var(--red);
}

.form input:focus {
  border: 0.1rem solid var(--purple);
  outline: 0.1rem solid var(--purple);
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 4.8rem;
  width: 100%;
}

.btn {
  padding: 1.2rem 1.8rem;
  border: none;
  border-radius: 0.6rem;
  background-color: rgb(0, 18, 17);
  background-image: linear-gradient(var(--red), rgba(251, 3, 57, 0.4));
  color: var(--white);
  font-family: ZenDots, Arial, sans-serif;
  font-size: 1.6rem;
}

.btn:hover {
  cursor: pointer;
  background-image: linear-gradient(var(--red), rgba(251, 3, 57, 0.6));
}

footer {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
}