@font-face {
  font-family: ZenDots;
  src: url(./fonts/ZenDots-Regular.woff2);
}

@font-face {
  font-family: Damion;
  src: url(./fonts/Damion-Regular.woff2);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: ZenDots, Arial, sans-serif;
}

:root {
  --black-theme: #001211;
  --light-blue-theme: #cdffff;
  --light-purple-theme: #bbbbff;
  --purple-theme: #7f7fff;
  --purple-opacity-theme: rgba(127, 127, 255, 0.5);
  --shadow-theme: rgba(205, 205, 255, 0.5);
  --red-theme: #ff0339;
  --red-dark-opacity-theme: rgba(251, 3, 57, 0.4);
  --red-light-opacity-theme: rgba(251, 3, 57, 0.6);
  --green-theme: rgb(0, 225, 0);
  --green-opacity-theme: rgba(0, 225, 0, 0.5);
  --white-theme: aliceblue;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--black-theme);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 12rem;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.face {
  width: 3.6rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 0.4rem solid var(--red-theme);
}

.ear {
  width: 2rem;
  height: 1.2rem;
  margin: -1rem -0.7rem 0;
  background-color: var(--red-theme);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  rotate: -24deg;
}

.ear-right {
  margin: -1.2rem 1.5rem 0;
  rotate: 24deg;
}

.char {
  height: 4rem;
  margin-top: -1rem;
  font-size: 3.4rem;
  font-family: Damion, Arial, Helvetica, sans-serif;
  color: var(--red-theme);
}

.char-left {
  margin-right: 0.4rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.form-header {
  text-align: center;
  width: 48rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
  font-size: 3.2rem;
  line-height: 1.4;
  color: var(--light-blue-theme);
}

.form-container {
  margin-bottom: 5.6rem;
  padding: 1.6rem 0;
  background-image: linear-gradient(var(--black-theme), var(--purple-opacity-theme));
  border-radius: 1rem;
  box-shadow: 0 1.2rem 1.2rem var(--shadow-theme);
}

.form-container div {
  display: flex;
  justify-content: center;
}

.form p {
  display: flex;
  flex-direction: column;
  margin: 1.2rem 1.4rem;
}

.label {
  padding-bottom: 0.8rem;
  font-size: 1.2rem;
  color: var(--light-blue-theme);
  cursor: pointer;
}

.input {
  width: 19.6rem;
  padding: 0.6rem 0.8rem;
  font-size: 1.4rem;
  border: 0.1rem solid var(--black-theme);
  border-radius: 0.4rem;
  background-color: var(--light-blue-theme);
  cursor: pointer;
}

.form input:invalid {
  border: 0.1rem solid var(--red-theme);
  outline: 0.1rem solid var(--red-theme);
}

.form input:focus {
  border: 0.1rem solid var(--purple-theme);
  outline: 0.1rem solid var(--purple-theme);
}

.create-btn {
  display: block;
  width: 24.8rem;
  margin: 0 auto;
  padding: 1.4rem 0;
  font-size: 1.6rem;
  color: var(--light-blue-theme);
  background-color: var(--black-theme);
  background-image: linear-gradient(var(--red-theme), var(--red-dark-opacity-theme));
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}

.create-btn-hover {
  background-image: linear-gradient(var(--red-theme), var(--red-light-opacity-theme));
}

.light-blue-color {
  color: var(--light-blue-theme);
}

.light-blue-border {
  border-color: var(--light-blue-theme);
}

.light-blue-background {
  background-color: var(--light-blue-theme);
}

.light-purple-color {
  color: var(--light-purple-theme);
}

.light-purple-border {
  border-color: var(--light-purple-theme);
}

.light-purple-background {
  background-color: var(--light-purple-theme);
}

.created-successfully {
  color: var(--white-theme);
  background-image: linear-gradient(var(--green-theme), var(--green-opacity-theme));
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-visual {
  width: 100%;
  height: auto;
}

.img-container figcaption {
  margin-top: -4rem;
}

.photo-link,
.portfolio-link {
  font-size: 1.4rem;
  color: var(--red-theme);
  text-decoration: none;
}

.photo-link:hover,
.portfolio-link:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
}
/* For smartphones in portrait mode */
@media screen and (orientation: portrait) {
  html {
    font-size: 6.5px;
  }
}

@media screen and (orientation: portrait) and (min-width: 22.5em) {
  html {
    font-size: 7.25px;
  }
}

@media screen and (orientation: portrait) and (min-width: 23.4em) {
  html {
    font-size: 7.5px;
  }
}

@media screen and (orientation: portrait) and (min-width: 24.3em) {
  html {
    font-size: 7.75px;
  }
}

@media screen and (orientation: portrait) and (min-width: 25.75em) {
  html {
    font-size: 8.25px;
  }
}

@media screen and (orientation: portrait) and (min-width: 26.75em) {
  html {
    font-size: 8.5px;
  }
}
/* For tablets in portrait mode */
@media screen and (orientation: portrait) and (min-width: 48em) {
  html {
    font-size: 10px;
  }

  .form {
    margin-bottom: -20rem;
  }
}
/* For smartphones in landscape mode */
@media screen and (orientation: landscape) {
  html {
    font-size: 6.5px;
  }
}

@media screen and (orientation: landscape) and (min-width: 41.6em) {
  html {
    font-size: 7.25px;
  }
}

@media screen and (orientation: landscape) and (min-width: 46.25em) {
  html {
    font-size: 7.5px;
  }
}

@media screen and (orientation: landscape) and (min-width: 50em) {
  html {
    font-size: 7.75px;
  }
}

@media screen and (orientation: landscape) and (min-width: 52.7em) {
  html {
    font-size: 8px;
  }
}

@media screen and (orientation: landscape) and (min-width: 55.75em) {
  html {
    font-size: 8.25px;
  }
}

@media screen and (orientation: landscape) and (min-width: 58em) {
  html {
    font-size: 8.5px;
  }
}
/* For small tablets in landscape mode */
@media screen and (orientation: landscape) and (min-width: 64rem) {
  html {
    font-size: 8px;
  }

  .header {
    padding: 4rem 0 0.8rem;
  }

  .main {
    flex-direction: row-reverse;
    gap: 3.6rem;
  }

  .input {
    width: 22rem;
  }

  .img-container {
    margin-top: -6rem;
  }

  .main-visual {
    width: 60rem;
  }

  .footer {
    padding-bottom: 3.2rem;
  }
}
/* For middle tablets in landscape mode */
@media screen and (orientation: landscape) and (min-width: 73.75rem) {
  html {
    font-size: 8.25px;
  }
}
/* For large tablets in landscape mode */
@media screen and (orientation: landscape) and (min-width: 84rem) {
  html {
    font-size: 9px;
  }
}
/* For laptops, and desktops */
@media screen and (orientation: landscape) and (min-width: 96rem) {
  html {
    font-size: 10px;
  }
}
